@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* line 1, ../_sass/utils.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 11, ../_sass/utils.sass */
.center, aside {
  margin: 0 auto;
}

/* line 4, ../_sass/layout.sass */
.wrap {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

/* line 9, ../_sass/layout.sass */
aside {
  font-size: 16px;
  padding: 16px;
  padding-bottom: 20px;
  width: 232px;
}

/* line 18, ../_sass/layout.sass */
footer {
  flex: none;
  text-align: left;
  font-size: 12px;
}
