@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900);
/* line 1, ../_scss/utils.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 1, ../_scss/layout.scss */
.wrap {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  border-left: 2px solid #989898;
  border-width: 15px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

/* line 18, ../_scss/layout.scss */
.content-wrap {
  overflow: auto;
  flex: 3;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

/* line 27, ../_scss/layout.scss */
main {
  flex: 2;
  padding: 15px;
}

/* line 32, ../_scss/layout.scss */
aside {
  font-size: 14px;
  padding-left: 15px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 1;
}
/* line 44, ../_scss/layout.scss */
aside.about-wrap {
  background-color: #e2e2e2;
}

/* line 49, ../_scss/layout.scss */
footer {
  flex: none;
  text-align: left;
  font-size: 12px;
  padding-bottom: 15px;
}

/* entypo */
/* line 8, ../_scss/styles.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 12, ../_scss/styles.scss */
html {
  background: #efefef;
  font: 16px/1.5 "Open Sans", sans-serif;
  color: #333333;
}

/* line 18, ../_scss/styles.scss */
h1 {
  font-size: 3em;
  line-height: 1.2;
  font-weight: 900;
  color: #222222;
  padding: 0;
  margin: 0;
}

/* line 27, ../_scss/styles.scss */
.social-media {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* line 33, ../_scss/styles.scss */
ul {
  list-style: none;
  text-align: right;
}
/* line 37, ../_scss/styles.scss */
ul li {
  display: inline-block;
}

/* line 43, ../_scss/styles.scss */
.large-icon {
  font-size: 32px;
  margin-left: 10px;
}

/* line 49, ../_scss/styles.scss */
about {
  flex: 1;
}
/* line 52, ../_scss/styles.scss */
about ul {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}
/* line 57, ../_scss/styles.scss */
about h2 {
  font-size: 2em;
  color: #3c3c3c;
  clear: both;
  line-height: 1;
  margin-bottom: 0;
}
/* line 64, ../_scss/styles.scss */
about .profile-pic {
  display: none;
  width: 150px;
  height: 150px;
  border: 2px solid #989898;
  border-width: 12px;
  border-radius: 0 50% 50%;
}
/* line 73, ../_scss/styles.scss */
about p {
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.016em;
  margin: 6px 0;
}

/* line 81, ../_scss/styles.scss */
.multitaskopus {
  background: url("../imgs/multitaskopus.png") no-repeat;
  background-size: 100%;
  width: 250px;
  height: 191px;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 92, ../_scss/styles.scss */
a {
  color: #989898;
  transition: color 0.5s ease-out;
  text-decoration: none;
}
/* line 97, ../_scss/styles.scss */
a:hover {
  color: #bcbcbc;
  transition: 0.22s ease;
}

/* line 104, ../_scss/styles.scss */
#posts {
  padding-bottom: 50px;
}

/* line 108, ../_scss/styles.scss */
.post-title {
  border-bottom: 2px solid #989898;
}
/* line 111, ../_scss/styles.scss */
.post-title a {
  font-size: 32px;
  font-weight: 900;
  text-decoration: none;
}
/* line 116, ../_scss/styles.scss */
.post-title em {
  float: right;
  line-height: 60px;
}
