/* line 1, ../_sass/utils.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 11, ../_sass/utils.sass */
.center {
  margin: 0 auto;
}
