@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}



html{
  background: #bbb;
  font:200 16px/1.5 'Open Sans',sans-serif;
  color: #000;
}

h1{
  font-size:3.2em;
  font-weight: 900;
  color: #333;
  margin-bottom: 12px;
  padding: 0;
  line-height: 1;
}

h1 + .subheading{
  font-size:1.1em;
  font-weight: 300;
  margin:0;
  padding: 0;
  color: #333;
}

.wrap{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content{
  width: 600px;
  margin: 0 auto;
}

.social-media{
  padding: 2px 18px;
  margin: 0;
  background: #ddd;
  border-bottom: 5px solid #aaa;
}
ul{
  list-style: none;
  text-align: right;
}

li{
  display: inline-block;
}

li a{
  color: #aaa;
  text-decoration: none;
  transition: color 0.5s ease-out;
}

a:hover{
  color: #f82cf8;
  transition: color 0.35s ease-out;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.large-icon{
  font-size: 32px;
  margin-left: 10px;
}

.multitaskopus{
  background: url('multitaskopus.png') no-repeat;
  width: 500px;
  height: 382px;
  position: absolute;
  bottom: 0;
  right: 0;
oefh}