<!-- side bar stuff -->
<aside class="about-wrap">
  <div class="about">
    <img src="/imgs/profile-pic.jpg" alt="profile-pic" class="profile-pic">
    <p>I'm a web person doing web things in Montreal, QC.</p>
    <h2>Currently</h2>
    <ul>
      <li><em>Web Application UI Designer</em> - <a href="http://www.acquisio.com/" target="_blank">Acquisio</a></li>
      <li><em>Designer</em> - <a href="http://www.startupcan.ca" target="_blank">Startup Canada</a></li>
    </ul>
  </div>

  <div class="footer-wrap">
    <div class="footer">
      This life is a work in progress. <br >
      Copyright &copy; 2014 | powered by <a href="http://pages.github.com" target="_blank">Github</a>
    </div>
  </div>
</aside>
