<ul class="social-media">
  <li>
    <h1><a href="/index.html">Hi, I'm Paul.</a></h1>
  </li>
  <li>
    <a href="http://www.twitter.com/paulrdukes" class="large-icon entypo-twitter" data-icon="twitter" target="_blank">
      <span class="visuallyhidden">Twitter</span>
    </a>
  </li>
    <li>
    <a href="http://www.rdio.com/people/paulrdukes" class="large-icon entypo-rdio" data-icon="rdio" target="_blank">
      <span class="visuallyhidden">Rdio</span>
    </a>
  </li>
  <li>
    <a href="http://ca.linkedin.com/in/pauldukes" class="large-icon entypo-linkedin-circled" data-icon="linkedin" target="_blank">
      <span class="visuallyhidden">LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="http://www.behance.net/pauldukes" class="large-icon entypo-behance" data-icon="behance" target="_blank">
      <span class="visuallyhidden">Behance</span>
    </a>
  </li>
  <li>
    <a href="http://www.github.com/paulrdukes" class="large-icon entypo-github" data-icon="behance" target="_blank">
      <span class="visuallyhidden">GitHub</span>
    </a>
  </li>
</ul>