// includes
@import 'variables'


// @import 'utils'

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px


// @import 'layout'

.wrap
  display: -webkit-flex
  display: flex
  flex-direction: row
  justify-content: center

.content
  padding: $default-padding $default-padding 20px
  width: 480px

footer
  flex: none
  text-align: left
  font-size: 12px


// MAIN STYLES

html
  background: $body-background-color
  font: $font
  color: $body-text-color

h1, h2, h3
  font-size: $display3-text-size
  line-height: $display2-line-height
  color: $display-text-color
  font-weight: 300
  padding: 0
  margin: 0

h2
  font-size:  $display1-text-size
  line-height:  $display1-line-height

.subhead
  font-size: $subhead-text-size
  color: $subhead-text-color
  line-height: $subhead-line-height
  font-weight: 600

.caption
  font-size: $caption-text-size
  color: $disable-hint-text-color

/* entypo */
[class*="entypo-"]:before
  font-family: 'entypo', sans-serif


.social-media
  margin: 0
  padding: 0
  font-size: 24px
  display: inline-block

  li
    display: inline-block
    margin: $small-margin
    margin-bottom: 20px

ul
  list-style: none
  text-align: right

about
  flex: 1

  ul
    text-align: left
    margin: 0
    padding: $default-padding $default-padding 20px 0


.multitaskopus
  background: url('../imgs/multitaskopus.png') no-repeat
  background-size: 100%
  width: 300px
  height: 230px
  position: fixed
  top: 64px
  right: 0

// links
a
  color: $link-color
  transition: $transition-default
  text-decoration: none

  &:hover
    color: $link-hover-color
