@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap)
@import url(https://weloveiconfonts.com/api/?family=entypo)

// PALETTE
// Neutrals
$off-white: #dfe2db
$white: #fff
$black: #000

// Font Sizes
$display3-text-size: 56px
$display2-text-size: 45px
$display1-text-size: 34px
$headline-text-size: 24px
$title-text-size: 20px
$subhead-text-size: 16px
$body-text-size: 16px
$data-table-text-size: 13px
$caption-text-size: 12px

$button-text-size: 14px

// Line height
$display3-line-height: 63px
$display2-line-height: 63px
$display1-line-height: 40px
$headline-line-height: 32px
$title-line-height: 26px
$subhead-line-height: 48px
$body-line-height: 1.5
$caption-line-height: 16px

// Font Color
$display-text-color: rgba($black, 0.54)
$headline-text-color: rgba($black, 0.87)
$title-text-color: rgba($black, 0.87)
$subhead-text-color: rgba($black, 0.54)
$body-text-color: rgba($black, 0.87)
$caption-text-color: rgba($black, 0.54)
$disable-hint-text-color: rgba($black, 0.38)
$border-color: rgba($black, 0.12)

$link-color: rgba($black, 0.54)
$link-hover-color: rgba(darkgreen, 0.9)

$font-stack: 'Work Sans',sans-serif


$font: #{$body-text-size}/#{$body-line-height} $font-stack

// layout
$base-unit: 16px
$base-height: $base-unit*2

$default-padding: $base-unit*2
$small-padding: $default-padding/2

$default-margin: $base-unit*2
$small-margin: $default-margin/2


// paints
$base-color: $white
$body-background-color: $off-white
$footer-background-color: $base-color


// TODO Change to mixin
$border: 1px solid $border-color

// Transitions
$transition-fast: 150ms ease
$transition-default: 200ms ease

$border-radius: 8px



// Mixins
@mixin square($size, $radius: 0)
  width: $size
  height: $size

  @if $radius != 0
    border-radius: $radius