// includes
@import 'variables';
@import 'utils';

@import 'layout';

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html{
  background: $content-background-color;
  font: $font;
  color: $primary-text-color;
}

h1{
  font-size: 3em;
  line-height: 1.2;
  font-weight: 900;
  color: $primary-header-text-color;
  padding: 0;
  margin: 0;
}

.social-media {
  margin: 0;
  padding: 0;
  display: inline-block;
}

ul{
  list-style: none;
  text-align: right;

  li{
    display: inline-block;
  }
}


.large-icon{
  font-size: 32px;
  margin-left: 10px;
}


about{
  flex: 1;

  ul{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }
  h2{
    font-size: 2em;
    color: lighten($primary-header-text-color, 10%);
    clear: both;
    line-height:  1;
    margin-bottom: 0;
  }
  .profile-pic{
    display: none;
    width: 150px;
    height: 150px;
    border: $border;
    border-width: 12px;
    border-radius: 0 50% 50%;
  }

  p{
    font-style:  italic;
    font-weight:  300;
    letter-spacing:  -0.016em;
    margin: 6px 0;
  }
}

.multitaskopus{
  background: url('../imgs/multitaskopus.png') no-repeat;
  background-size: 100%;
  width: 250px;
  height: 191px;
  position: fixed;
  bottom: 0;
  right: 0;
}

// links
a{
  color: $link-color;
  transition: color 0.5s ease-out;
  text-decoration: none;

  &:hover{
    color: $link-hover-color;
    transition: $transition-fast
  }
}

// posts
#posts{
  padding-bottom:  50px;

  p:first-of-type {
    background-color: #ddd;
    padding: $base-spacing;
  }
}

.post-title {
  border-bottom: $border;

  a {
    font-size: 32px;
    font-weight: 900;
    text-decoration: none;
  }
  em {
    float: right;
    line-height: 60px;
  }
}
