// text
$font-stack: 'Open Sans',sans-serif;
$font: 16px/1.5 $font-stack;


// layout


// colors
$base-text-color: #333;
$base-header-text-color: #222;
$base-background-color: #ededed;
$sidebar-background-color: #dedede;
$white: #eee;
$link-color: #888;
$link-hover-color: #f82cf8;
$border-color: #bbb;

 $border: 2px solid $border-color;
