@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900);

// text
$font-stack: 'Open Sans',sans-serif;
$font: 16px/1.5 $font-stack;

// TODO header mixin

// layout
$base-height: 30px;

// paints
$base-color: #d3e5e1;
$content-background-color: #f3f8f7;

// text-color
$primary-text-color: #444;
$primary-header-text-color: #777;
$link-color: #4e7da8;
$link-hover-color: darken($content-background-color, 20%);

// TODO Change to mixin
$border: 2px solid $link-color;
