// text
$font-stack: 'Open Sans',sans-serif;
$base-font-size: 16px;
$base-line-height: 15px;
$font: #{$base-font-size}/#{$base-line-height} $font-stack;


// layout


// paints
$base-color: #d3e5e1;
$content-background-color: #efefef;

// text-color
$primary-text-color: #444;
$primary-header-text-color: #777;
$link-color: #4e7da8;
$link-hover-color: darken($content-background-color, 20%);

// TODO Change to mixin
$border: 2px solid $link-color;
